{% extends base.html %}

{% block core %}
{% from cms.grading import task_score %}
<div class="core_title">
  <h1>Ranking</h1>
</div>
Download as <a href="{{ url_root }}/contest/{{ contest.id }}/ranking/csv">csv</a>, <a href="{{ url_root }}/contest/{{ contest.id }}/ranking/txt">text</a>.
<table class="bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>User</th>
      {% if show_teams %}
      <th>Team</th>
      {% end %}
      {% for task in contest.tasks %}
      <th><a href="{{ url_root }}/task/{{ task.id }}">{{ task.name }}</a></th>
      {% end %}
      <th>Global</th>
      <th># of submissions</th>
      <th>Last valid submission time</th>
    </tr>
  </thead>
  <tbody>
    {% for p in sorted(contest.participations, key=lambda u: u.user.username) %}
      {% if not p.hidden %}
    <tr>
      {% set last_submission_timestamps = [] %}
      {% set score = 0.0 %}
      {% set partial = False %}
      <td><a href="{{ url_root }}/contest/{{ contest.id }}/user/{{ p.user.id }}/edit">{{ p.user.username }}</a></td>
      <td>{{ "%s %s" % (p.user.first_name, p.user.last_name) }}</td>
      {% if show_teams %}
        {% if p.team %}
        <td><a href="{{ url_root }}/team/{{ p.team_id }}">{{ p.team.name }}</a></td>
        {% else %}
        <td></td>
        {% end %}
      {% end %}
      {% for task in contest.tasks %}
        {% set t_score, t_partial = task_score(p, task) %}
        {% set t_score = round(t_score, task.score_precision) %}
        {% set score += t_score %}
        {% set partial = partial or t_partial %}
        {% if t_score > 0 %}
        {{ last_submission_timestamps.append(min(map(lambda s: s.timestamp, filter(lambda s: s.task_id == task.id and s.get_result().score == t_score, p.submissions)))) }}
        {% end %}
      <td>{{ t_score }}{% if t_partial %}*{% end %}</td>
      {% end %}
      <td>{{ round(score, contest.score_precision) }}{% if partial %}*{% end %}</td>
      <td>{{ len(p.submissions) }}</td>
      <td>{% if len(last_submission_timestamps) > 0 %}{{ max(last_submission_timestamps) }}{% end %}</td>
    </tr>
      {% end %}
    {% end %}
  </tbody>
</table>
{% end %}
